.counter {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.carousel-inner {
  height: 60vh;
  background-color: #e5e5e5;
}

.carousel-item {
  height: 100%;
  width: 100%;
}

.careousel-image {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}


/* Adjustments for different screen sizes */
@media (max-width: 1200px) {
  .carousel-inner {
    height: 40vh;
  }
}

@media (max-width: 768px) {
  .carousel-inner {
    height: 30vh;
  }
}

@media (max-width: 576px) {
  .carousel-inner {
    height: 25vh;
  }
}
  