<div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li *ngFor="let image of images; let i = index" [class.active]="i === 0" data-target="#carouselIndicators" [attr.data-slide-to]="i"></li>
    </ol>
    <div class="carousel-inner">
      <div *ngFor="let image of images; let i = index" class="carousel-item" [class.active]="i === 0">
        <img class="d-block w-100" [src]="image.imageurl" [alt]="buildCaption(image.imageurl)" (click)="openLightbox(i)">
      </div>
    </div>
    <button class="carousel-control-prev" data-slide="prev" (click)="navigate($event, -1)">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" data-slide="next" (click)="navigate($event, -1)">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </button>
  </div>
  <div class="counter">
    {{ currentSlideIndex + 1 }} / {{ images.length }}
  </div>
  
