.blcolor {
  background-color: #016450;
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 700;
  
  
  color: #ffffff;
}

.bscolor {
  background-color: #ffffff;
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 700;
  
  
  color: #016450;
}

.des0 {
  margin-top: 150px;
  color: #016450;
  
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 700;
  
  font-size: 24px;
}

.featuredes {
  font-size: 14px;
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 700;
  
  
  color: #999999;
}

.titledes {
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 700;
  
  
  font-size: 38px;
}

.aminities {
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 700;
  
  
  color: #999999;
}

.cont-med {
  color: #999999;
  
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 600;
  src: local("Segoe UI SemiBold");
  font-size: medium;
  text-align: justify;
  line-height: 1.5rem;
}

.cont-name {
  color: #016450;
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 700;
  
  
  font-size: 14px;
}

#review-card {
  max-height: 200px;
  overflow: hidden;
}

#review-card:hover {
  transform: scale(1.1, 1.1);
  z-index: 3;
  cursor: default;
}

.review-des {
  background-color: rgba(153, 153, 153, 0.2);
  border-radius: 15px;
}
::placeholder {
  
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 700;
  
  color: rgba(1, 100, 80, 0.2);
}

.carousel-break {
  height: 0.125rem;
  background: #016450;
}
.slider {
  width: 90%;
}

.circle-container {
  position: relative;
  width: 100px;
  height: 100px;
  left: calc(50% - 50px);
}

.circle-svg {
  width: 100px;
  height: 100px;
  transform: rotate(-90deg);
}

.circle-background, .circle-progress {
  fill: none;
  stroke-width: 10;
}

.circle-background {
  stroke: #e6e6e6;
}

.circle-progress {
  stroke: #3f51b5;
  stroke-linecap: round;
  transition: stroke-dasharray 0.3s ease;
}

.circle-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: bold;
}
