<div class="container-fluid mt-5">
    <div class="row justify-content-around g-5">
        <app-carousel [images]="propService.property.images"></app-carousel>
    </div>
    <div class="mx-auto mt-4 carousel-break" ></div>
    <!-- Body Text Start -->
    <div class="row mt-4">
        <div dir="rtl">
            <div class="row">
                <h2 class="mt-4 titledes">{{propService.property.name}}</h2>
                <h6 class="mt-3 featuredes">
                    <span>
                        <img src="../../assets/Rounded.png" alt="arrow" class="img-fluid" style="height: 20px" />
                    </span>
                    {{propService.property.address.line1 + " " + propService.property.address.line2}}
                </h6>
                <div class="d-flex d-flex info-wrap"  dir="ltr">
                    <div class="col-4 col-sm-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" role="presentation" viewBox="0 0 48 48" class="img-fluid"><path d="M38.5 32.25v-16.5a5 5 0 10-6.25-6.25h-16.5a5 5 0 10-6.25 6.25v16.5a5 5 0 106.25 6.25h16.5a5 5 0 106.25-6.25zm-6.25 3.25h-16.5a5 5 0 00-3.25-3.25v-16.5a5 5 0 003.25-3.25h16.5a5 5 0 003.25 3.25v16.5a5 5 0 00-3.25 3.25zM37 9a2 2 0 11-2 2 2 2 0 012-2zM11 9a2 2 0 11-2 2 2 2 0 012-2zm0 30a2 2 0 112-2 2 2 0 01-2 2zm26 0a2 2 0 112-2 2 2 0 01-2 2z"></path></svg>
                        {{propService.property.size}} m²
                    </div>
                    <div class="col-4 col-sm-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" role="presentation" viewBox="0 0 16 16" class="img-fluid"><path d="M9.13 15l-.53-.77a1.85 1.85 0 0 0-.28-2.54 3.51 3.51 0 0 1-1.19-2c-1.56 2.23-.75 3.46 0 4.55l-.55.76A4.4 4.4 0 0 1 3 10.46S2.79 8.3 5.28 6.19c0 0 2.82-2.61 1.84-4.54L7.83 1a6.57 6.57 0 0 1 2.61 6.94 2.57 2.57 0 0 0 .56-.81l.87-.07c.07.12 1.84 2.93.89 5.3A4.72 4.72 0 0 1 9.13 15zm-2-6.95l.87.39a3 3 0 0 0 .92 2.48 2.64 2.64 0 0 1 1 2.8A3.241 3.241 0 0 0 11.8 12a4.87 4.87 0 0 0-.41-3.63 1.85 1.85 0 0 1-1.84.86l-.35-.68a5.31 5.31 0 0 0-.89-5.8C8.17 4.87 6 6.83 5.93 6.94 3.86 8.7 4 10.33 4 10.4a3.47 3.47 0 0 0 1.59 3.14C5 12.14 5 10.46 7.16 8.05h-.03z"/></svg>
                        {{propService.property.shares}} Shares
                    </div>
                    <div class="col-4 col-sm-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" role="presentation" viewBox="0 0 48 48" class="mr-1 text-neutral-40"><path d="M11 20l-3.999 5.999h33.998L37 20h3l3.999 5.999L44 26v9.5a1.5 1.5 0 01-1.5 1.5H39v1.5a1.5 1.5 0 01-3 0V37H12v1.5a1.5 1.5 0 01-3 0V37H5.5A1.5 1.5 0 014 35.5V26l.001-.001L8 20h3zm30 9H7v5h34v-5zM38.5 8A1.5 1.5 0 0140 9.5V20l-9-.001V21.5a1.5 1.5 0 01-1.5 1.5h-11a1.5 1.5 0 01-1.5-1.5v-1.501L8 20V9.5A1.5 1.5 0 019.5 8h29zM28 17h-8v3h8v-3zm9-6H11v5.999h6V15.5a1.5 1.5 0 011.5-1.5h11a1.5 1.5 0 011.5 1.5v1.499h6V11z"></path></svg>
                        {{propService.property.rooms}} Room{{propService.property.rooms > 1 ? "s" : ""}}
                    </div>
                </div>
            </div>
            <h6 class="mt-4 titledes">{{formatPrice(propService.property.price)}}</h6>
            <div class="justify-content-start">
                <div [innerHtml]="propService.property.description" class="me-2 mt-5 pe-5"></div>
            </div>
        </div>
    </div>
    <!-- Body Text Ends -->

    <!-- Action Btn Start -->
    <div class="d-flex">
        <div>
            <a type="button" routerLink="/wishlist/{{auth.currentUser.userId}}"
                class="btn bscolor my-3 me-3 px-4 py-3 shadow-lg" aria-current="page">
                WISHLIST
                <span class="material-icons">
                    favorite_border
                </span>
            </a>
        </div>
        <div *ngIf="auth.currentUser.userId==0">
            <a type="button" routerLink="/signin"
                class="btn blcolor my-3 me-3 px-4 py-3 shadow-lg" aria-current="page">
                SIGN IN
                <span><img src="../../assets/rightarrow.png" alt="arrow" class="img-fluid ms-2"
                        style="height: 20px" /></span>
            </a>
        </div>
    </div>
    <!-- Action Btn Ends -->

    <!-- Review cards Start-->
    <!-- <div class="container-fluid mb-5">
        <h2 class="des0 text-center mb-5">REVIEWS</h2>
        <div class="row g-3 justify-content-around">
            <div class="col-md-4" *ngFor="let review of reviews, let i=index">
                <div id="review-card" class="card border-0 mb-5 shadow-lg">
                    <div class="row g-0">
                        <div class="col-4">
                            <img src="../../assets/man.png" class="img-fluid h-100 p-2 rounded-start" alt="...">
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <img src="https://raw.githubusercontent.com/parithoshpoojary/property-listing/resources/Resources%20-%20Main/Images/stars.png"
                                    alt="stars" class="w-75 mb-3">
                                <p class="card-text cont-med">{{review}}</p>
                                <p class="card-text cont-name"><small>Reviewed at {{i+2}} dec</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Review cards End-->

    <!-- enquiry Form Start -->
    <div class="container-fluid my-5">
        <div class="card border-0 shadow-lg mx-1" style="border-radius: 15px;">
            <div class="bscolor mx-2 mt-4">
                <h5 class="mt-4">This Property has {{propService.property.shares}} shares, every share is worth {{formatPrice(propService.property.price/propService.property.shares)}}.</h5>
                <h5 class="mt-4" *ngIf="propService.property.shares > propService.property.remShares">{{propService.property.shares-propService.property.remShares}} out of {{propService.property.shares}} shares have been already sold.</h5>
                <h5 class="mt-4">Please select below how many shares you want to buy!</h5>
            </div>
            <form (ngSubmit)="sendBuyEnquiry(enquiryForm)" #enquiryForm="ngForm">
                <div class="my-4 mx-1">
                    <label for="enquiryFullName" class="form-label"></label>
                    <input type="text" [(ngModel)]="enquiry.fullName" #fullName="ngModel" name="fullName" class="form-control py-3 review-des border-0"
                        id="enquiryFullName" placeholder="your full name" required>
                        <p class="small text-danger my-2" *ngIf="fullName.dirty && fullName.invalid">
                            Name can't be empty !
                        </p>
                </div>
                <div class="my-4 mx-1">
                    <label for="enquiryPhoneNumber" class="form-label"></label>
                    <input type="tel" [(ngModel)]="enquiry.phoneNumber" #phoneNumber="ngModel" name="phoneNumber" class="form-control py-3 review-des border-0"
                        id="enquiryPhoneNumber" placeholder="your phone number" required>
                    <p class="small text-danger my-2" *ngIf="phoneNumber.dirty && phoneNumber.invalid">
                        Phone number can't be empty !
                    </p>
                </div>
                <div class="my-4 mx-1 text-center">
                    <label for="enquiryShares" class="form-label bscolor mx-1">Number of shares you want to buy!</label>
                    <input type="range" [(ngModel)]="enquiry.numberOfShares" #numberOfShares="ngModel" name="numberOfShares" value = "1" min="1" max="{{propService.property.remShares}}" (input)="onSliderChange($event)" class="slider" id="enquiryShares">
                    <div class="circle-container">
                        <svg class="circle-svg">
                            <circle cx="50" cy="50" r="45" class="circle-background"></circle>
                            <circle cx="50" cy="50" r="45" class="circle-progress" [style.strokeDasharray]="computeDashArray(sliderValue)"></circle>
                        </svg>
                        <div class="circle-label">{{ sliderValue }}</div>
                        <span class="bscolor">{{formatPrice(sliderValue * (propService.property.price/propService.property.shares))}}</span>
                    </div>
                </div>
                <div class="mb-4 mx-1">
                    <label for="enquirynotes" class="form-label"></label>
                    <textarea name="notes" class="form-control review-des border-0"
                        id="enquirynotes" rows="3" placeholder="notes"></textarea>
                </div>   
                <button type="submit" class="btn blcolor mt-3 mb-5 ms-5 px-4 py-3 shadow-lg" [disabled]="enquiryForm.pristine || enquiryForm.invalid">
                    Send
                    <span><img src="../../assets/rightarrow.png" alt="arrow" class="img-fluid ms-3"
                        style="height: 20px" /></span>
                </button>
                <div class="alert alert-danger d-flex align-items-center mt-4" role="alert" *ngIf="errorFlag">
                    <i class="material-icons"> warning </i>
                    <div class="ms-2">Sorry we encountered a problem, please try again!</div>
                </div>
                <div class="alert alert-success d-flex align-items-center mt-4" role="alert" *ngIf="successFlag">
                    <i class="checkmark">✓</i>
                    <div class="ms-2">We have received your request and will contact you shortly!</div>
                </div>
            </form>
        </div>
    </div>
    <!-- Review Form End -->

</div>