/* Hero-box (featured) */
#feat-head {
  background-color: #e0ebed;
}

.heading-big {
  color: #016450;
  font-size: 2rem;
  
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 700;
  
  line-height: 2rem;
}

#filter-form {
  background-color: #ffffff;
  border-radius: 15px;
}

#search-btn {
  background-color: #016450;
  color: #ffffff;
}

.heading-med {
  
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 700;
  
}

.card-price {
  font-size: 1.3rem;
}

.aminities {
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 700;
  
  
  color: #999999;
  font-size: 14px;
}

.btn-green {
  background-color: #016450;
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 700;
  
  
  color: #ffffff;
}

.btn-lgrey {
  background-color: #e0ebed;
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 700;
  
  
  color: #016450;
}

.btn-content {
  font-family: 'Noto Sans Arabic', sans-serif;
  
  font-size: 14px;
}

.checked {
  color: orange;
}
