.h2 {
  color: #3f51b5;
  
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 700;
  
  line-height: 3rem;
}
.h6 {
  color: #999999;
  padding-top: 15px;
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 600;
  src: local("Segoe UI Semibold");
  
}

.link {
  text-decoration: none;
  color: #3f51b5;
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 700;
  
  
  margin-left: 5px;
}
.pad {
  padding-top: 150px;
}
.btncolor {
  background-color: #3f51b5;
  font-weight: bold;
  color: #ffffff;
}
.lsp {
  
}
.weig1 {
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 600;
  src: local("Segoe UI Semibold");
}
.weig2 {
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 400;
  src: local("Segoe UI");
}

.pd {
  padding-right: 10rem;
  background-color: #ebebeb;
}
.brad {
  border-radius: 10px;
}
.form-control::placeholder {
  font-family: 'Noto Sans Arabic', sans-serif;
  font-weight: 600;
  src: local("Segoe UI Semibold");
  color: #cacaca;
  opacity: 1;
}
